
body {
    background-image: url('../../../assets/img.jpg');
    // margin-top: 35px;
    font-family: Arial, sans-serif;
    // background-color: #cacaca;
    text-align: center;
    
}
.custom-padding{
    padding-top: 20px;  
}
