    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Currency Converter</title>
    </head>
    <body>
        <div class="container">
        <div class="converter">
            <h1>Currency Converter</h1>
            <div class="tabs">
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">>
                    <mat-tab>
                      <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon">monetization_on</mat-icon>
                        Convert
                      </ng-template>
                      Content 1
                    </mat-tab>
                  
                    <mat-tab>
                      <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon">send</mat-icon>
                        Send
                      </ng-template>
                      Content 2
                    </mat-tab>
                  
                    <mat-tab>
                      <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon">error</mat-icon>
                        alerts
                      </ng-template>
                  
                      Content 3
                    </mat-tab>
                  </mat-tab-group>
                  
            </div>
            <!-- <form id="currency-form">
                <label for="amount">Amount (in source currency)</label>
                <input type="number" id="amount" placeholder="Enter amount" required>
                <label for="from">From Currency</label>
                <select id="from">
                    <option value="USD">US Dollar (USD)</option>
                    <option value="EUR">Euro (EUR)</option>
                    <option value="GBP">British Pound (GBP)</option>
                     Add more currency options here -->
                <!-- </select>
                <label for="to">To Currency</label>
                <select id="to">
                    <option value="USD">US Dollar (USD)</option>
                    <option value="EUR">Euro (EUR)</option>
                    <option value="GBP">British Pound (GBP)</option> -->
                    <!-- Add more currency options here -->
                <!-- </select>
                <button type="button" id="convert">Convert</button>
            </form>  -->
           
        </div>
     </div> 
  </body>
</html>
