    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Currency Converter</title>
    </head>
    <body>
      <div class="top-nav left custom-padding">
        <ul class="nav justify-content-end">
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link active " aria-current="page" href="#">Sign In</a>
            </li>
            <li class="nav-item mx-2"> <!-- Use Bootstrap mx-2 class for horizontal margin -->
              <a class="nav-link active " href="#" tabindex="-1">Register</a>
            </li>
          </ul>
        </ul>
      </div>
      <div class="top-nav center" >
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active text-white"  aria-current="page" href="#">SEND MONEY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">CONVERTER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">CURRENCY API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">TOOLS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">RESOURCES</a>
          </li>
         
        </ul>

      </div>
      
  </body>
</html>
